{% extends 'base.html' %}
{% block content %}
<h1>Customer Record : </h1>
<div class="card">
    <div class="card-header">
       <Strong>{{customer_record.first_name}} 
        {{customer_record.last_name}} </Strong> 
    </div>
    <div class="card-body">
      <h5 class="card-title">Details below:</h5>
      <p class="card-text">
       <Strong>Email: </Strong> {{customer_record.email}}<br/>
       <Strong>Phone: </Strong> {{customer_record.phone}}<br/>
       <Strong>Address: </Strong>{{customer_record.address}}<br/>
       <Strong>City: </Strong> {{customer_record.city}}<br/>
       <Strong>State: </Strong> {{customer_record.state}}<br/>
       <Strong>Zipcode: </Strong> {{customer_record.zipcode}}<br/>
       <Strong>Created At:</Strong> {{customer_record.created_at}}<br/>
       <Strong>Id: </Strong> {{customer_record.id}}<br/>

      </p>
      
    </div>
  </div>

  <br/>

  <a href="{% url 'home' %} " class = "btn btn-secondary"> Back </a>

  <a href="{% url 'delete_record' customer_record.id %} " class = "btn btn-danger"> Delete </a>
    
{% endblock %}